h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.appBody {
    margin: 2em;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.center-text {
    text-align: center;
}

.divSquare {
    width: 48.7%;
    height: 200px;
    margin: 4px;
    border: 2px solid black;
    float: left;
    text-align: center;
}

.tvQuestion {
    padding-left: 15px;
    padding-right: 15px;
}

.tvSolution {
    height: 250px;
    text-align: center;
}

.tvProgressHelper {
    margin-top: -10px;
    float: right;
}

.solutionButtonContainer {
    padding-right: 0;
    padding-left: 0;
}

.solutionButton {
    width: 100%;
    height: 100px;
    white-space: normal;
}

.nextQuestionButton {
    width: 100%;
    height: 60px;
    white-space: normal;
}

.input-group-addon {
    min-width: 90px;
    text-align: right;
}

.correctAnswer {
    border-color: #00DD00;
    background-color: #d6e9c6;
}

.mobileControls {
    margin-top: 250px;
}

.fatButton {
    height: 50px;
}

.avatarSelected {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: white;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 56px;
    -ms-flex: 0 0 56px;
    flex: 0 0 56px;
    display: inline-block;
    padding: 0;
    margin: 2px;
    border: 0;
    border-radius: 100%;
    overflow: hidden;
    font-size: 34px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}