h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.center-text {
  text-align: center;
}

.divSquare{
  width:48%;
  height:200px;
  margin:4px;
  border:2px solid black;
  float: left;
  text-align: center;
}

.solutionButton{
  width:45%;
  height:100px;
  margin:4px;
  border:2px solid black;
  float: left;
  text-align: center;
}

.correctAnswer{
  border-color: #00DD00;
  background-color: #d6e9c6;
}

.mobileControls{
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
