<div *ngIf="!solutionActive">
<h2 class="tvQuestion">Question: {{currentQuestion.text}}</h2>
    <div class="col-xs-12 solutionButtonContainer">
        <div *ngFor="let answer of currentQuestion.answers" (click)="onSelect(answer)">
            <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-raised solutionButton">
                    {{answer.text}}<span *ngIf="answer==selectedAnswer"><br>(selected)</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="solutionActive" class="col-xs-12 solutionButtonContainer">
    <!--<table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>1</td>
            <td>Demo User</td>
            <td>+100</td>
        </tr>
        <tr class="warning">
            <td>2</td>
            <td>Demo User 2</td>
            <td>+80</td>
        </tr>
        <tr class="info">
            <td>3</td>
            <td>Demo User 3</td>
            <td>+40</td>
        </tr>
        <tr class="danger">
            <td>4</td>
            <td>Bad Demo User</td>
            <td>-10</td>
        </tr>
        </tbody>
    </table>-->
    <button type="button" class="btn btn-primary btn-raised nextQuestionButton" (click)="getMessageFromServer()">
        Next
    </button>
</div>
