<h5>Quiz ID: {{quizId}} User: {{playerName}}</h5>
<div *ngIf="!solutionActive">
<h2>Question: {{currentQuestion.text}}</h2>
    <div class="col-xs-12">
        <div *ngFor="let answer of currentQuestion.answers" (click)="onSelect(answer)">
            <button type="button" class="btn btn-primary solutionButton">
                {{answer.text}}<span *ngIf="answer==selectedAnswer"><br>(selected)</span>
            </button>
        </div>
    </div>
</div>

<div *ngIf="solutionActive" class="col-xs-12">
    <button type="button" class="btn btn-primary solutionButton" (click)="getMessageFromServer()">
        Next
    </button>
</div>
