<h5>
    <i class="fa fa-television" aria-hidden="true"></i>
    TV URL: <a href="{{SERVER_URL}}:{{HTTP_PORT}}/tv/{{quizId}}">{{SERVER_URL}}:{{HTTP_PORT}}/tv/{{quizId}}</a>
</h5>
<p>
    Open a browser on your TV and enter the url from above. Then click "play" to start. <br>
    Any number of players can join the quiz at any time. Just make sure they use your Quiz ID to join.
</p>

<form class="form-horizontal">
    <fieldset>
        <div class="input-group">
            <span class="input-group-addon">Quiz ID</span>
            <input type="text" [(ngModel)]="quizId" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Your name</span>
            <input type="text" [(ngModel)]="playerName" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" style="vertical-align: top; padding-top: 25px">Your avatar</span>
            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                <img *ngFor="let avatar of avatars" (click)="onSelect(avatar)" [ngClass]="{avatarSelected: playerAvatar.name==avatar.name}" src="/images/avatars/{{avatar.thumbnail}}" alt="{{avatar.description}}" height="74" width="74">
            </div>
        </div>

    </fieldset>
    <button type="button" class="btn btn-raised btn-primary" (click)="startQuiz()">
        Play
    </button>
</form>