
<h5>TV URL: <a href="http://localhost:9999/tv/{{quizId}}">{{ApplicationConfig.SERVER_URL}}:{{ApplicationConfig.HTTP_PORT}}/tv/{{quizId}}</a></h5>
<h5>JOIN URL: {{ApplicationConfig.SERVER_URL}}:{{ApplicationConfig.HTTP_PORT}}/start/{{quizId}}</h5>
<p>Accept a random quiz id or chose one yourself.</p>
<div class="input-group">
    <span class="input-group-addon">Quiz ID</span>
    <input type="text" [(ngModel)]="quizId" class="form-control" aria-describedby="basic-addon1">
</div>
<br> <!--TODO: Remove br and use proper grid -->
<div class="input-group">
    <span class="input-group-addon">Your name</span>
    <input type="text" [(ngModel)]="playerName" class="form-control" aria-describedby="basic-addon1">
</div>
<br> <!--TODO: Remove br and use proper grid -->
<button type="button" class="btn btn-primary" (click)="startQuiz()">
    Play
</button>