<div class="center">
    <h2 class="tvQuestion">Question: {{currentQuestion.text}}</h2>
    <br>
    <div *ngIf="!solutionActive">
        <div>
            <div *ngFor="let answer of currentQuestion.answers" (click)="onSelect(answer)">
                <div class="col-xs-6">
                    <div class="panel panel-default tvSolution">
                        <div class="panel-body">
                            <h1>{{answer.text}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': timeRemaining + '%'}">
                    {{timeRemaining}}
                </div>
            </div>
            <div class="tvProgressHelper">
                <p>{{timeRemainingInSeconds}} seconds left</p>
            </div>
        </div>
    </div>
    <div *ngIf="solutionActive">
        <div *ngFor="let answer of currentQuestion.answers" (click)="onSelect(answer)">
            <div class="col-xs-6">
                <div class="panel tvSolution" *ngIf="!answer.correct">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wrong answer</h3>
                    </div>
                    <div class="panel-body">
                        <h1>{{answer.text}}</h1>
                        <p>{{answer.players}}</p>
                    </div>
                </div>

                <div class="panel panel-primary tvSolution" *ngIf="answer.correct">
                    <div class="panel-heading">
                        <h3 class="panel-title">Correct answer</h3>
                    </div>
                    <div class="panel-body">
                        <h1>{{answer.text}}</h1>
                        <p>{{answer.players}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>