<div class="center">
    <h2 class="tvQuestion">Question: {{currentQuestion.text}}</h2>
    <br>
    <div *ngIf="!solutionActive">
        <div>
            <div *ngFor="let answer of currentQuestion.answers" (click)="onSelect(answer)">
                <div class="col-xs-6">
                    <div class="panel panel-default tvSolution">
                        <div class="panel-body">
                            <h1>{{answer.text}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     [ngStyle]="{'width': timeRemaining + '%'}">
                    {{timeRemaining}}
                </div>
            </div>
            <div class="tvProgressHelper">
                <p>{{timeRemainingInSeconds}} seconds left</p>
            </div>
        </div>
    </div>
    <div *ngIf="solutionActive">
        <div *ngFor="let answer of currentQuestion.answers">
            <div class="col-xs-6">
                <div class="panel tvSolution" [ngClass]="{'panel-primary': answer.correct}">
                    <div class="panel-heading">
                        <h3 class="panel-title" *ngIf="!answer.correct">Wrong answer</h3>
                        <h3 class="panel-title" *ngIf="answer.correct">Correct answer</h3>
                    </div>
                    <div class="panel-body">
                        <h1>{{answer.text}}</h1>
                        <div *ngFor="let player of answer.players">
                            <div class="playerAnswerAvatar">
                                <img src="/images/avatars/{{player.avatar.thumbnail}}" alt="{{player.avatar.description}}" height="74" width="74">
                                <p>{{player.name}} ({{player.points}})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>